@font-face {
    font-family: 'FontPoppins';
    src: url('Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1E8EFC, #FC0CED);
}

.navigation {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.sidebar {
  width: 150px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #1E8EFC, #FC0CED);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.sidebar button:hover {
  box-shadow: inset 0 0 10px white;
}

.circle-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
    border: 2px solid white;
  }

.container {
    width: 600px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    font-family: FontPoppins;
  }